[Unit]
Description=Cooler Master Pi Tool Daemon

[Service]
User=root
Group=root
ExecStart='/opt/Cooler Master Pi Tool/bin/daemon'

[Install]
WantedBy=multi-user.target
