@font-face {
    font-family: 'oswaldregular';
    src: url('../../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansregular';
    src: url('../../fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldbold';
    src: url('../../fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
